doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://aframe.io/releases/1.5.0/aframe.min.js')
    script(src="javascripts/mycomponent.js") 
  body
  
    block content
